In [402]:
import pandas as pd

data_2024 = pd.read_csv("data/NFL_2024_season_data.csv")
data_2024['year'] = 2024
data_2023 = pd.read_csv("data/NFL_2023_season_data.csv")
data_2023['year'] = 2023
data_2022 = pd.read_csv("data/NFL_2022_season_data.csv")
data_2022['year'] = 2022
data_2021 = pd.read_csv("data/NFL_2021_season_data.csv")
data_2021['year'] = 2021
data_2020 = pd.read_csv("data/NFL_2020_season_data.csv")
data_2020['year'] = 2020

In [403]:
data = pd.concat([data_2024, data_2023, data_2022, data_2021])
data.shape

(2605, 35)

In [404]:
data.head()

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Passing Att,Passing Yds,...,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank,-9999,year
0,1,Saquon Barkley*+,PHI,RB,27,16,16,0.0,0.0,0.0,...,NaN,322.0,355.3,362.3,338.8,163.0,1,1.0,BarkSa00,2024
1,2,Derrick Henry*,BAL,RB,30,17,17,0.0,0.0,0.0,...,NaN,317.0,336.4,343.4,326.9,159.0,2,2.0,HenrDe00,2024
2,3,Jahmyr Gibbs*,DET,RB,22,17,4,0.0,0.0,0.0,...,NaN,311.0,362.9,369.9,336.9,153.0,3,3.0,GibbJa01,2024
3,4,Lamar Jackson*+,BAL,QB,27,17,17,316.0,474.0,4172.0,...,NaN,430.0,430.4,445.4,434.4,140.0,1,4.0,JackLa00,2024
4,5,Ja'Marr Chase*+,CIN,WR,24,17,16,0.0,0.0,0.0,...,NaN,276.0,403.0,406.0,339.5,138.0,1,5.0,ChasJa00,2024

In [405]:
data.columns

Index(['Rk', 'Player', 'Tm', 'FantPos', 'Age', 'G', 'GS', 'Cmp', 'Passing Att',
       'Passing Yds', 'Passing TD', 'Int', 'Rushing Att', 'Rushing Yds',
       'Rushing Y/A', 'Rushing TD', 'Tgt', 'Rec', 'Receiving Yds',
       'Receiving Y/R', 'Receiving TD', 'Fmb', 'FL', 'Total TD', '2:00 PM',
       '2PP', 'FantPt', 'PPR', 'DKPt', 'FDPt', 'VBD', 'PosRank', 'OvRank',
       '-9999', 'year'],
      dtype='object')

In [406]:
data = data.drop(['2:00 PM', '2PP', 'FantPt', 'DKPt', 'FDPt', 'VBD', 'OvRank', '-9999'], axis=1)

In [407]:
qb_data = data[data['FantPos'] == 'QB']

In [408]:
qb_data = qb_data.reset_index()
qb_data.head()

,index,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Passing Att,...,Rec,Receiving Yds,Receiving Y/R,Receiving TD,Fmb,FL,Total TD,PPR,PosRank,year
0,3,4,Lamar Jackson*+,BAL,QB,27,17,17,316.0,474.0,...,0.0,0.0,NaN,0.0,10.0,5.0,4,430.4,1,2024
1,7,8,Josh Allen*,BUF,QB,28,17,17,307.0,483.0,...,0.0,7.0,NaN,1.0,5.0,2.0,13,379.0,2,2024
2,8,9,Joe Burrow*,CIN,QB,28,17,17,460.0,652.0,...,0.0,0.0,NaN,0.0,11.0,5.0,2,372.8,3,2024
3,12,13,Baker Mayfield*,TAM,QB,29,17,17,407.0,570.0,...,0.0,0.0,NaN,0.0,13.0,2.0,3,365.8,4,2024
4,15,16,Jayden Daniels*,WAS,QB,24,17,17,331.0,480.0,...,0.0,0.0,NaN,0.0,5.0,0.0,6,355.8,5,2024

In [409]:
qb_data.columns

Index(['index', 'Rk', 'Player', 'Tm', 'FantPos', 'Age', 'G', 'GS', 'Cmp',
       'Passing Att', 'Passing Yds', 'Passing TD', 'Int', 'Rushing Att',
       'Rushing Yds', 'Rushing Y/A', 'Rushing TD', 'Tgt', 'Rec',
       'Receiving Yds', 'Receiving Y/R', 'Receiving TD', 'Fmb', 'FL',
       'Total TD', 'PPR', 'PosRank', 'year'],
      dtype='object')

In [410]:
qb_data = qb_data.drop(['index', 'Rk', 'FantPos', 'Tgt', 'Rec', 'Receiving Yds', 'Receiving Y/R', 'Receiving TD', 'Tm'], axis=1)
qb_data.head()

,Player,Age,G,GS,Cmp,Passing Att,Passing Yds,Passing TD,Int,Rushing Att,Rushing Yds,Rushing Y/A,Rushing TD,Fmb,FL,Total TD,PPR,PosRank,year
0,Lamar Jackson*+,27,17,17,316.0,474.0,4172.0,41.0,4.0,139.0,915.0,6.58,4.0,10.0,5.0,4,430.4,1,2024
1,Josh Allen*,28,17,17,307.0,483.0,3731.0,28.0,6.0,102.0,531.0,5.21,12.0,5.0,2.0,13,379.0,2,2024
2,Joe Burrow*,28,17,17,460.0,652.0,4918.0,43.0,9.0,42.0,201.0,4.79,2.0,11.0,5.0,2,372.8,3,2024
3,Baker Mayfield*,29,17,17,407.0,570.0,4500.0,41.0,16.0,60.0,378.0,6.30,3.0,13.0,2.0,3,365.8,4,2024
4,Jayden Daniels*,24,17,17,331.0,480.0,3568.0,25.0,9.0,148.0,891.0,6.02,6.0,5.0,0.0,6,355.8,5,2024

In [411]:
qb_data['Player'] = qb_data['Player'].str.replace('+', '', regex=False)
qb_data['Player'] = qb_data['Player'].str.replace('*', '', regex=False)
qb_data.head()

,Player,Age,G,GS,Cmp,Passing Att,Passing Yds,Passing TD,Int,Rushing Att,Rushing Yds,Rushing Y/A,Rushing TD,Fmb,FL,Total TD,PPR,PosRank,year
0,Lamar Jackson,27,17,17,316.0,474.0,4172.0,41.0,4.0,139.0,915.0,6.58,4.0,10.0,5.0,4,430.4,1,2024
1,Josh Allen,28,17,17,307.0,483.0,3731.0,28.0,6.0,102.0,531.0,5.21,12.0,5.0,2.0,13,379.0,2,2024
2,Joe Burrow,28,17,17,460.0,652.0,4918.0,43.0,9.0,42.0,201.0,4.79,2.0,11.0,5.0,2,372.8,3,2024
3,Baker Mayfield,29,17,17,407.0,570.0,4500.0,41.0,16.0,60.0,378.0,6.30,3.0,13.0,2.0,3,365.8,4,2024
4,Jayden Daniels,24,17,17,331.0,480.0,3568.0,25.0,9.0,148.0,891.0,6.02,6.0,5.0,0.0,6,355.8,5,2024

In [412]:
qb_data[qb_data['Player'] == "Lamar Jackson"]

,Player,Age,G,GS,Cmp,Passing Att,Passing Yds,Passing TD,Int,Rushing Att,Rushing Yds,Rushing Y/A,Rushing TD,Fmb,FL,Total TD,PPR,PosRank,year
0,Lamar Jackson,27,17,17,316.0,474.0,4172.0,41.0,4.0,139.0,915.0,6.58,4.0,10.0,5.0,4,430.4,1,2024
82,Lamar Jackson,26,16,16,307.0,457.0,3678.0,24.0,7.0,148.0,821.0,5.55,5.0,11.0,6.0,5,331.2,4,2023
175,Lamar Jackson,25,12,12,203.0,326.0,2242.0,17.0,7.0,112.0,764.0,6.82,3.0,5.0,2.0,3,236.1,14,2022
261,Lamar Jackson,24,12,12,246.0,382.0,2882.0,16.0,13.0,133.0,767.0,5.77,2.0,6.0,3.0,2,240.0,16,2021

In [413]:
qb_data[qb_data.isna().any(axis=1)]

,Player,Age,G,GS,Cmp,Passing Att,Passing Yds,Passing TD,Int,Rushing Att,Rushing Yds,Rushing Y/A,Rushing TD,Fmb,FL,Total TD,PPR,PosRank,year
67,Kyle Allen,28,1,0,1.0,1.0,19.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0,0.8,71,2024
72,Mike White,29,1,0,3.0,11.0,28.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0,1.1,69,2024
75,Jeff Driskel,31,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0,NaN,74,2024
152,A.J. McCarron,33,2,0,4.0,5.0,19.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0,0.8,74,2023
155,Malik Cunningham,25,2,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0,NaN,76,2023
156,Sam Ehlinger,25,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0,NaN,75,2023
158,Aaron Rodgers,40,1,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0,NaN,77,2023
233,Blaine Gabbert,33,1,0,6.0,8.0,29.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0,5.2,72,2022
236,Brian Hoyer,37,1,1,5.0,6.0,37.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0,1.5,74,2022
238,Kyle Trask,24,1,0,3.0,9.0,23.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0,0.9,75,2022
239,Jacob Eason,25,1,0,3.0,5.0,59.0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,0,0.4,78,2022
242,Logan Woodside,27,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0,NaN,80,2022
305,Nick Mullens,26,1,1,20.0,30.0,147.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0,9.9,60,2021
307,Garrett Gilbert,30,1,1,20.0,31.0,194.0,0.0,0.0,0.0,0.0,NaN,0.0,1.0,0.0,0,7.8,63,2021
319,Jeff Driskel,28,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0,NaN,75,2021
320,Kevin Hogan,29,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0,NaN,76,2021
321,Kellen Mond,22,1,0,2.0,3.0,5.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0,0.2,72,2021
323,Brett Rypien,25,1,0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0,NaN,74,2021
325,Jacob Eason,24,1,0,2.0,5.0,25.0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,0,-1.0,81,2021
328,Josh Rosen,24,4,0,2.0,11.0,19.0,0.0,2.0,0.0,0.0,NaN,0.0,0.0,0.0,0,-3.2,83,2021

In [414]:
qb_data = qb_data.fillna(0.0)
qb_data[qb_data.isna().any(axis=1)]

Empty DataFrame
Columns: [Player, Age, G, GS, Cmp, Passing Att, Passing Yds, Passing TD, Int, Rushing Att, Rushing Yds, Rushing Y/A, Rushing TD, Fmb, FL, Total TD, PPR, PosRank, year]
Index: []

In [415]:
qb_data.head()

,Player,Age,G,GS,Cmp,Passing Att,Passing Yds,Passing TD,Int,Rushing Att,Rushing Yds,Rushing Y/A,Rushing TD,Fmb,FL,Total TD,PPR,PosRank,year
0,Lamar Jackson,27,17,17,316.0,474.0,4172.0,41.0,4.0,139.0,915.0,6.58,4.0,10.0,5.0,4,430.4,1,2024
1,Josh Allen,28,17,17,307.0,483.0,3731.0,28.0,6.0,102.0,531.0,5.21,12.0,5.0,2.0,13,379.0,2,2024
2,Joe Burrow,28,17,17,460.0,652.0,4918.0,43.0,9.0,42.0,201.0,4.79,2.0,11.0,5.0,2,372.8,3,2024
3,Baker Mayfield,29,17,17,407.0,570.0,4500.0,41.0,16.0,60.0,378.0,6.30,3.0,13.0,2.0,3,365.8,4,2024
4,Jayden Daniels,24,17,17,331.0,480.0,3568.0,25.0,9.0,148.0,891.0,6.02,6.0,5.0,0.0,6,355.8,5,2024

In [416]:
training = qb_data[qb_data['year'] != 2024]
predicting = qb_data[(qb_data['year'] == 2024) | (qb_data['year'] == 2023)]

In [417]:
lamar = training[training['Player'] == "Lamar Jackson"]
lamar = lamar.reset_index()
for row in lamar.itertuples():
    print(row)
    break

Pandas(Index=0, index=82, Player='Lamar Jackson', Age=26, G=16, GS=16, Cmp=307.0, _7=457.0, _8=3678.0, _9=24.0, Int=7.0, _11=148.0, _12=821.0, _13=5.55, _14=5.0, Fmb=11.0, FL=6.0, _17=5, PPR=331.2, PosRank=4, year=2023)

In [418]:
for row in lamar.itertuples():
    lamar[str(2023 - row.year) + '_ago_G'] = row.G
    lamar[str(2023 - row.year) + '_ago_GS'] = row.GS
    lamar[str(2023 - row.year) + '_ago_Cmp'] = row.Cmp
    lamar[str(2023 - row.year) + '_ago_PassingAtt'] = row._7
    lamar[str(2023 - row.year) + '_ago_PassingYds'] = row._8
    lamar[str(2023 - row.year) + '_ago_PassingTD'] = row._9
    lamar[str(2023 - row.year) + '_ago_Int'] = row.Int
    lamar[str(2023 - row.year) + '_ago_RushingAtt'] = row._11
    lamar[str(2023 - row.year) + '_ago_RushingYds'] = row._12
    lamar[str(2023 - row.year) + '_ago_RushingY/A'] = row._13
    lamar[str(2023 - row.year) + '_ago_RushingTD'] = row._14
    lamar[str(2023 - row.year) + '_ago_Fmb'] = row.Fmb
    lamar[str(2023 - row.year) + '_ago_FL'] = row.FL
    lamar[str(2023 - row.year) + '_ago_TotalTD'] = row._17
    lamar[str(2023 - row.year) + '_ago_PPR'] = row.PPR
    lamar[str(2023 - row.year) + '_ago_PosRank'] = row.PosRank

lamar = lamar.drop([1, 2], axis=0)
lamar = lamar.drop(['index', 'G', 'GS', 'Cmp', 'Passing Att',
       'Passing Yds', 'Passing TD', 'Int', 'Rushing Att', 'Rushing Yds',
       'Rushing Y/A', 'Rushing TD', 'Fmb', 'FL', 'Total TD', 'PPR', 'PosRank',
       'year'], axis=1)
lamar

,Player,Age,0_ago_G,0_ago_GS,0_ago_Cmp,0_ago_PassingAtt,0_ago_PassingYds,0_ago_PassingTD,0_ago_Int,0_ago_RushingAtt,...,2_ago_Int,2_ago_RushingAtt,2_ago_RushingYds,2_ago_RushingY/A,2_ago_RushingTD,2_ago_Fmb,2_ago_FL,2_ago_TotalTD,2_ago_PPR,2_ago_PosRank
0,Lamar Jackson,26,16,16,307.0,457.0,3678.0,24.0,7.0,148.0,...,13.0,133.0,767.0,5.77,2.0,6.0,3.0,2,240.0,16

In [419]:
lamar.columns

Index(['Player', 'Age', '0_ago_G', '0_ago_GS', '0_ago_Cmp', '0_ago_PassingAtt',
       '0_ago_PassingYds', '0_ago_PassingTD', '0_ago_Int', '0_ago_RushingAtt',
       '0_ago_RushingYds', '0_ago_RushingY/A', '0_ago_RushingTD', '0_ago_Fmb',
       '0_ago_FL', '0_ago_TotalTD', '0_ago_PPR', '0_ago_PosRank', '1_ago_G',
       '1_ago_GS', '1_ago_Cmp', '1_ago_PassingAtt', '1_ago_PassingYds',
       '1_ago_PassingTD', '1_ago_Int', '1_ago_RushingAtt', '1_ago_RushingYds',
       '1_ago_RushingY/A', '1_ago_RushingTD', '1_ago_Fmb', '1_ago_FL',
       '1_ago_TotalTD', '1_ago_PPR', '1_ago_PosRank', '2_ago_G', '2_ago_GS',
       '2_ago_Cmp', '2_ago_PassingAtt', '2_ago_PassingYds', '2_ago_PassingTD',
       '2_ago_Int', '2_ago_RushingAtt', '2_ago_RushingYds', '2_ago_RushingY/A',
       '2_ago_RushingTD', '2_ago_Fmb', '2_ago_FL', '2_ago_TotalTD',
       '2_ago_PPR', '2_ago_PosRank'],
      dtype='object')

In [426]:
final_cols = ['Player', 'Age', '0_ago_G', '0_ago_GS', '0_ago_Cmp', '0_ago_PassingAtt',
       '0_ago_PassingYds', '0_ago_PassingTD', '0_ago_Int', '0_ago_RushingAtt',
       '0_ago_RushingYds', '0_ago_RushingY/A', '0_ago_RushingTD', '0_ago_Fmb',
       '0_ago_FL', '0_ago_TotalTD', '0_ago_PPR', '0_ago_PosRank', '1_ago_G',
       '1_ago_GS', '1_ago_Cmp', '1_ago_PassingAtt', '1_ago_PassingYds',
       '1_ago_PassingTD', '1_ago_Int', '1_ago_RushingAtt', '1_ago_RushingYds',
       '1_ago_RushingY/A', '1_ago_RushingTD', '1_ago_Fmb', '1_ago_FL',
       '1_ago_TotalTD', '1_ago_PPR', '1_ago_PosRank', '2_ago_G', '2_ago_GS',
       '2_ago_Cmp', '2_ago_PassingAtt', '2_ago_PassingYds', '2_ago_PassingTD',
       '2_ago_Int', '2_ago_RushingAtt', '2_ago_RushingYds', '2_ago_RushingY/A',
       '2_ago_RushingTD', '2_ago_Fmb', '2_ago_FL', '2_ago_TotalTD',
       '2_ago_PPR', '2_ago_PosRank']
qb = pd.DataFrame(columns=final_cols, index=[0])
qb = qb.fillna(0.0)
for player in training["Player"].unique():
    individual = training[training['Player'] == player]
    individual = individual.reset_index()
    data = pd.DataFrame(columns=final_cols, index=[0])
    data['Player'] = player
    data['Age'] = individual.loc[0]['Age']
    for row in individual.itertuples():
        data[str(2023 - row.year) + '_ago_G'] = row.G
        data[str(2023 - row.year) + '_ago_GS'] = row.GS
        data[str(2023 - row.year) + '_ago_Cmp'] = row.Cmp
        data[str(2023 - row.year) + '_ago_PassingAtt'] = row._7
        data[str(2023 - row.year) + '_ago_PassingYds'] = row._8
        data[str(2023 - row.year) + '_ago_PassingTD'] = row._9
        data[str(2023 - row.year) + '_ago_Int'] = row.Int
        data[str(2023 - row.year) + '_ago_RushingAtt'] = row._11
        data[str(2023 - row.year) + '_ago_RushingYds'] = row._12
        data[str(2023 - row.year) + '_ago_RushingY/A'] = row._13
        data[str(2023 - row.year) + '_ago_RushingTD'] = row._14
        data[str(2023 - row.year) + '_ago_Fmb'] = row.Fmb
        data[str(2023 - row.year) + '_ago_FL'] = row.FL
        data[str(2023 - row.year) + '_ago_TotalTD'] = row._17
        data[str(2023 - row.year) + '_ago_PPR'] = row.PPR
        data[str(2023 - row.year) + '_ago_PosRank'] = row.PosRank

    qb = pd.concat([qb, data])

qb.head()

/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:14: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  qb = qb.fillna(0.0)
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/973151362.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb = pd.concat([qb, data])

,Player,Age,0_ago_G,0_ago_GS,0_ago_Cmp,0_ago_PassingAtt,0_ago_PassingYds,0_ago_PassingTD,0_ago_Int,0_ago_RushingAtt,...,2_ago_Int,2_ago_RushingAtt,2_ago_RushingYds,2_ago_RushingY/A,2_ago_RushingTD,2_ago_Fmb,2_ago_FL,2_ago_TotalTD,2_ago_PPR,2_ago_PosRank
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0
0,Josh Allen,27.0,17.0,17.0,385.0,579.0,4306.0,29.0,18.0,111.0,...,15.0,122.0,763.0,6.25,6.0,8.0,3.0,6.0,402.6,1.0
0,Jalen Hurts,25.0,17.0,17.0,352.0,538.0,3858.0,23.0,15.0,157.0,...,9.0,139.0,784.0,5.64,10.0,9.0,2.0,10.0,312.2,9.0
0,Dak Prescott,30.0,17.0,17.0,410.0,590.0,4516.0,36.0,9.0,55.0,...,10.0,48.0,146.0,3.04,1.0,14.0,6.0,1.0,320.6,7.0
0,Lamar Jackson,26.0,16.0,16.0,307.0,457.0,3678.0,24.0,7.0,148.0,...,13.0,133.0,767.0,5.77,2.0,6.0,3.0,2.0,240.0,16.0

In [427]:
qb = qb.iloc[1:]
qb.head()

,Player,Age,0_ago_G,0_ago_GS,0_ago_Cmp,0_ago_PassingAtt,0_ago_PassingYds,0_ago_PassingTD,0_ago_Int,0_ago_RushingAtt,...,2_ago_Int,2_ago_RushingAtt,2_ago_RushingYds,2_ago_RushingY/A,2_ago_RushingTD,2_ago_Fmb,2_ago_FL,2_ago_TotalTD,2_ago_PPR,2_ago_PosRank
0,Josh Allen,27.0,17.0,17.0,385.0,579.0,4306.0,29.0,18.0,111.0,...,15.0,122.0,763.0,6.25,6.0,8.0,3.0,6.0,402.6,1.0
0,Jalen Hurts,25.0,17.0,17.0,352.0,538.0,3858.0,23.0,15.0,157.0,...,9.0,139.0,784.0,5.64,10.0,9.0,2.0,10.0,312.2,9.0
0,Dak Prescott,30.0,17.0,17.0,410.0,590.0,4516.0,36.0,9.0,55.0,...,10.0,48.0,146.0,3.04,1.0,14.0,6.0,1.0,320.6,7.0
0,Lamar Jackson,26.0,16.0,16.0,307.0,457.0,3678.0,24.0,7.0,148.0,...,13.0,133.0,767.0,5.77,2.0,6.0,3.0,2.0,240.0,16.0
0,Jordan Love,25.0,17.0,17.0,372.0,579.0,4159.0,32.0,11.0,50.0,...,3.0,12.0,27.0,2.25,0.0,3.0,1.0,0.0,21.1,51.0

In [428]:
qb = qb.fillna(0.0)

In [429]:
qb.columns

Index(['Player', 'Age', '0_ago_G', '0_ago_GS', '0_ago_Cmp', '0_ago_PassingAtt',
       '0_ago_PassingYds', '0_ago_PassingTD', '0_ago_Int', '0_ago_RushingAtt',
       '0_ago_RushingYds', '0_ago_RushingY/A', '0_ago_RushingTD', '0_ago_Fmb',
       '0_ago_FL', '0_ago_TotalTD', '0_ago_PPR', '0_ago_PosRank', '1_ago_G',
       '1_ago_GS', '1_ago_Cmp', '1_ago_PassingAtt', '1_ago_PassingYds',
       '1_ago_PassingTD', '1_ago_Int', '1_ago_RushingAtt', '1_ago_RushingYds',
       '1_ago_RushingY/A', '1_ago_RushingTD', '1_ago_Fmb', '1_ago_FL',
       '1_ago_TotalTD', '1_ago_PPR', '1_ago_PosRank', '2_ago_G', '2_ago_GS',
       '2_ago_Cmp', '2_ago_PassingAtt', '2_ago_PassingYds', '2_ago_PassingTD',
       '2_ago_Int', '2_ago_RushingAtt', '2_ago_RushingYds', '2_ago_RushingY/A',
       '2_ago_RushingTD', '2_ago_Fmb', '2_ago_FL', '2_ago_TotalTD',
       '2_ago_PPR', '2_ago_PosRank'],
      dtype='object')

In [430]:
qb = qb.drop(['0_ago_G', '0_ago_GS', '0_ago_Cmp', '0_ago_PassingAtt',
       '0_ago_PassingYds', '0_ago_PassingTD', '0_ago_Int', '0_ago_RushingAtt',
       '0_ago_RushingYds', '0_ago_RushingY/A', '0_ago_RushingTD', '0_ago_Fmb',
       '0_ago_FL', '0_ago_TotalTD', '0_ago_PosRank'], axis=1)

In [431]:
qb.columns

Index(['Player', 'Age', '0_ago_PPR', '1_ago_G', '1_ago_GS', '1_ago_Cmp',
       '1_ago_PassingAtt', '1_ago_PassingYds', '1_ago_PassingTD', '1_ago_Int',
       '1_ago_RushingAtt', '1_ago_RushingYds', '1_ago_RushingY/A',
       '1_ago_RushingTD', '1_ago_Fmb', '1_ago_FL', '1_ago_TotalTD',
       '1_ago_PPR', '1_ago_PosRank', '2_ago_G', '2_ago_GS', '2_ago_Cmp',
       '2_ago_PassingAtt', '2_ago_PassingYds', '2_ago_PassingTD', '2_ago_Int',
       '2_ago_RushingAtt', '2_ago_RushingYds', '2_ago_RushingY/A',
       '2_ago_RushingTD', '2_ago_Fmb', '2_ago_FL', '2_ago_TotalTD',
       '2_ago_PPR', '2_ago_PosRank'],
      dtype='object')

In [432]:
from sklearn.model_selection import train_test_split

X = qb.drop(['0_ago_PPR', 'Player'], axis=1)
y = qb[['Player', '0_ago_PPR']]
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.75, random_state=0)

In [433]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(random_state=0)
model.fit(X_train, y_train['0_ago_PPR'])
model.score(X_test, y_test['0_ago_PPR'])

0.4025240728347157

In [ ]:

hyperparameter_model = RandomForestRegressor()

In [434]:
y_pred = model.predict(X_test)

In [435]:
y_test = y_test.reset_index()
y_test = y_test.drop(['index'], axis=1)
y_test

                Player  0_ago_PPR
0         Tommy DeVito       93.5
1       Tua Tagovailoa      270.4
2         John Wolford        0.0
3      Patrick Mahomes      280.2
4           Joe Burrow      147.2
5        A.J. McCarron        0.8
6           Josh Rosen        0.0
7          Bryce Young      156.4
8         Chase Daniel        0.0
9         Dak Prescott      342.8
10      Trevor Siemian       27.0
11       Bryce Perkins        0.0
12        Carson Wentz       26.1
13          Mike White        2.1
14        Sean Mannion        0.0
15     Chris Streveler        0.0
16        Jeff Driskel       13.9
17         Brian Hoyer        4.9
18      Justin Herbert      234.2
19      Russell Wilson      256.9
20         Cooper Rush        3.3
21          Jake Fromm        0.0
22       Jake Browning      144.4
23       Tyler Huntley       25.6
24          Kyle Allen       -1.3
25         C.J. Stroud      276.0
26           Mac Jones      106.4
27  Ben Roethlisberger        0.0
28          Trey Lance        0.0

In [436]:
y_pred = pd.Series(y_pred)
y_pred

0      33.597449
1     128.375000
2      18.497000
3     225.617000
4     198.479000
5      14.017150
6       6.930100
7      59.242283
8      17.737000
9     144.036000
10     60.063000
11     52.283033
12    109.772000
13     91.617000
14     14.745500
15     28.567000
16     50.342000
17      5.437000
18    160.812000
19     95.750000
20    106.835000
21     28.218833
22     39.503935
23     68.698000
24     40.375400
25     59.242283
26    121.750000
27     20.309000
28     81.627000
dtype: float64

In [437]:
comp = pd.concat([y_test, y_pred], axis=1)
comp

                Player  0_ago_PPR           0
0         Tommy DeVito       93.5   33.597449
1       Tua Tagovailoa      270.4  128.375000
2         John Wolford        0.0   18.497000
3      Patrick Mahomes      280.2  225.617000
4           Joe Burrow      147.2  198.479000
5        A.J. McCarron        0.8   14.017150
6           Josh Rosen        0.0    6.930100
7          Bryce Young      156.4   59.242283
8         Chase Daniel        0.0   17.737000
9         Dak Prescott      342.8  144.036000
10      Trevor Siemian       27.0   60.063000
11       Bryce Perkins        0.0   52.283033
12        Carson Wentz       26.1  109.772000
13          Mike White        2.1   91.617000
14        Sean Mannion        0.0   14.745500
15     Chris Streveler        0.0   28.567000
16        Jeff Driskel       13.9   50.342000
17         Brian Hoyer        4.9    5.437000
18      Justin Herbert      234.2  160.812000
19      Russell Wilson      256.9   95.750000
20         Cooper Rush        3.3  106.835000
21          Jake Fromm        0.0   28.218833
22       Jake Browning      144.4   39.503935
23       Tyler Huntley       25.6   68.698000
24          Kyle Allen       -1.3   40.375400
25         C.J. Stroud      276.0   59.242283
26           Mac Jones      106.4  121.750000
27  Ben Roethlisberger        0.0   20.309000
28          Trey Lance        0.0   81.627000

In [481]:
final_cols = ['Player', 'Age', '1_ago_G',
       '1_ago_GS', '1_ago_Cmp', '1_ago_PassingAtt', '1_ago_PassingYds',
       '1_ago_PassingTD', '1_ago_Int', '1_ago_RushingAtt', '1_ago_RushingYds',
       '1_ago_RushingY/A', '1_ago_RushingTD', '1_ago_Fmb', '1_ago_FL',
       '1_ago_TotalTD', '1_ago_PPR', '1_ago_PosRank', '2_ago_G', '2_ago_GS',
       '2_ago_Cmp', '2_ago_PassingAtt', '2_ago_PassingYds', '2_ago_PassingTD',
       '2_ago_Int', '2_ago_RushingAtt', '2_ago_RushingYds', '2_ago_RushingY/A',
       '2_ago_RushingTD', '2_ago_Fmb', '2_ago_FL', '2_ago_TotalTD',
       '2_ago_PPR', '2_ago_PosRank']
qb_pred = pd.DataFrame(columns=final_cols, index=[0])
qb_pred = qb_pred.fillna(0.0)
for player in predicting["Player"].unique():
    individual = predicting[predicting['Player'] == player]
    individual = individual.reset_index()
    data = pd.DataFrame(columns=final_cols, index=[0])
    data['Player'] = player
    data['Age'] = individual.loc[0]['Age']
    for row in individual.itertuples():
        data[str(2025 - row.year) + '_ago_G'] = row.G
        data[str(2025 - row.year) + '_ago_GS'] = row.GS
        data[str(2025 - row.year) + '_ago_Cmp'] = row.Cmp
        data[str(2025 - row.year) + '_ago_PassingAtt'] = row._7
        data[str(2025 - row.year) + '_ago_PassingYds'] = row._8
        data[str(2025 - row.year) + '_ago_PassingTD'] = row._9
        data[str(2025 - row.year) + '_ago_Int'] = row.Int
        data[str(2025 - row.year) + '_ago_RushingAtt'] = row._11
        data[str(2025 - row.year) + '_ago_RushingYds'] = row._12
        data[str(2025 - row.year) + '_ago_RushingY/A'] = row._13
        data[str(2025 - row.year) + '_ago_RushingTD'] = row._14
        data[str(2025 - row.year) + '_ago_Fmb'] = row.Fmb
        data[str(2025 - row.year) + '_ago_FL'] = row.FL
        data[str(2025 - row.year) + '_ago_TotalTD'] = row._17
        data[str(2025 - row.year) + '_ago_PPR'] = row.PPR
        data[str(2025 - row.year) + '_ago_PosRank'] = row.PosRank

    qb_pred = pd.concat([qb_pred, data])

/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:11: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  qb_pred = qb_pred.fillna(0.0)
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb_pred = pd.concat([qb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb_pred = pd.concat([qb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb_pred = pd.concat([qb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb_pred = pd.concat([qb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb_pred = pd.concat([qb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb_pred = pd.concat([qb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb_pred = pd.concat([qb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb_pred = pd.concat([qb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb_pred = pd.concat([qb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb_pred = pd.concat([qb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb_pred = pd.concat([qb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb_pred = pd.concat([qb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb_pred = pd.concat([qb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb_pred = pd.concat([qb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb_pred = pd.concat([qb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb_pred = pd.concat([qb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb_pred = pd.concat([qb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb_pred = pd.concat([qb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb_pred = pd.concat([qb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb_pred = pd.concat([qb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb_pred = pd.concat([qb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb_pred = pd.concat([qb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb_pred = pd.concat([qb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb_pred = pd.concat([qb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb_pred = pd.concat([qb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb_pred = pd.concat([qb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb_pred = pd.concat([qb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb_pred = pd.concat([qb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb_pred = pd.concat([qb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb_pred = pd.concat([qb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb_pred = pd.concat([qb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb_pred = pd.concat([qb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb_pred = pd.concat([qb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_13410/2652597570.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  qb_pred = pd.concat([qb_pred, data])

In [482]:
qb_pred = qb_pred.iloc[1:]

In [483]:
qb_pred.columns

Index(['Player', 'Age', '1_ago_G', '1_ago_GS', '1_ago_Cmp', '1_ago_PassingAtt',
       '1_ago_PassingYds', '1_ago_PassingTD', '1_ago_Int', '1_ago_RushingAtt',
       '1_ago_RushingYds', '1_ago_RushingY/A', '1_ago_RushingTD', '1_ago_Fmb',
       '1_ago_FL', '1_ago_TotalTD', '1_ago_PPR', '1_ago_PosRank', '2_ago_G',
       '2_ago_GS', '2_ago_Cmp', '2_ago_PassingAtt', '2_ago_PassingYds',
       '2_ago_PassingTD', '2_ago_Int', '2_ago_RushingAtt', '2_ago_RushingYds',
       '2_ago_RushingY/A', '2_ago_RushingTD', '2_ago_Fmb', '2_ago_FL',
       '2_ago_TotalTD', '2_ago_PPR', '2_ago_PosRank'],
      dtype='object')

In [484]:
qb_pred = qb_pred.fillna(0.0)

In [485]:
y_2025 = model.predict(qb_pred.drop(['Player'], axis=1))
y_2025 = pd.Series(y_2025, name='2025 PPR Prediction')
qb_pred = qb_pred.reset_index()
qb_pred = qb_pred.drop(['index'], axis=1)
qb_pred

,Player,Age,1_ago_G,1_ago_GS,1_ago_Cmp,1_ago_PassingAtt,1_ago_PassingYds,1_ago_PassingTD,1_ago_Int,1_ago_RushingAtt,...,2_ago_Int,2_ago_RushingAtt,2_ago_RushingYds,2_ago_RushingY/A,2_ago_RushingTD,2_ago_Fmb,2_ago_FL,2_ago_TotalTD,2_ago_PPR,2_ago_PosRank
0,Lamar Jackson,27.0,17.0,17.0,316.0,474.0,4172.0,41.0,4.0,139.0,...,7.0,148.0,821.0,5.55,5.0,11.0,6.0,5.0,331.2,4.0
1,Josh Allen,28.0,17.0,17.0,307.0,483.0,3731.0,28.0,6.0,102.0,...,18.0,111.0,524.0,4.72,15.0,7.0,4.0,15.0,392.6,1.0
2,Joe Burrow,28.0,17.0,17.0,460.0,652.0,4918.0,43.0,9.0,42.0,...,6.0,31.0,88.0,2.84,0.0,2.0,1.0,0.0,147.2,25.0
3,Baker Mayfield,29.0,17.0,17.0,407.0,570.0,4500.0,41.0,16.0,60.0,...,10.0,62.0,163.0,2.63,1.0,8.0,3.0,1.0,274.1,10.0
4,Jayden Daniels,24.0,17.0,17.0,331.0,480.0,3568.0,25.0,9.0,148.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,Teddy Bridgewater,31.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,-2.0,-1.00,0.0,0.0,0.0,0.0,-0.2,79.0
94,Malik Cunningham,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,76.0
95,Sam Ehlinger,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,75.0
96,Nathan Peterman,29.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,-4.0,-2.00,0.0,1.0,0.0,0.0,-0.4,82.0
97,Logan Woodside,28.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,6.0,6.00,0.0,0.0,0.0,0.0,-0.3,81.0

In [486]:
qb_pred = pd.concat([y_2025, qb_pred], axis=1)
qb_pred.head()

,2025 PPR Prediction,Player,Age,1_ago_G,1_ago_GS,1_ago_Cmp,1_ago_PassingAtt,1_ago_PassingYds,1_ago_PassingTD,1_ago_Int,...,2_ago_Int,2_ago_RushingAtt,2_ago_RushingYds,2_ago_RushingY/A,2_ago_RushingTD,2_ago_Fmb,2_ago_FL,2_ago_TotalTD,2_ago_PPR,2_ago_PosRank
0,296.957,Lamar Jackson,27.0,17.0,17.0,316.0,474.0,4172.0,41.0,4.0,...,7.0,148.0,821.0,5.55,5.0,11.0,6.0,5.0,331.2,4.0
1,266.419,Josh Allen,28.0,17.0,17.0,307.0,483.0,3731.0,28.0,6.0,...,18.0,111.0,524.0,4.72,15.0,7.0,4.0,15.0,392.6,1.0
2,161.430,Joe Burrow,28.0,17.0,17.0,460.0,652.0,4918.0,43.0,9.0,...,6.0,31.0,88.0,2.84,0.0,2.0,1.0,0.0,147.2,25.0
3,214.753,Baker Mayfield,29.0,17.0,17.0,407.0,570.0,4500.0,41.0,16.0,...,10.0,62.0,163.0,2.63,1.0,8.0,3.0,1.0,274.1,10.0
4,204.592,Jayden Daniels,24.0,17.0,17.0,331.0,480.0,3568.0,25.0,9.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0

In [488]:
qb_pred = qb_pred[['2025 PPR Prediction', 'Player']].sort_values('2025 PPR Prediction', ascending=False).reset_index(drop=True)

    2025 PPR Prediction             Player
0               296.957      Lamar Jackson
1               287.460        Jalen Hurts
2               266.419         Josh Allen
3               218.351    Patrick Mahomes
4               214.753     Baker Mayfield
..                  ...                ...
93                2.865     Trevor Siemian
94                0.854  Teddy Bridgewater
95                0.849       Matt Barkley
96                0.764        Brian Hoyer
97               -0.028      A.J. McCarron

[98 rows x 2 columns]

In [489]:
qb_pred.head(10)

   2025 PPR Prediction           Player
0              296.957    Lamar Jackson
1              287.460      Jalen Hurts
2              266.419       Josh Allen
3              218.351  Patrick Mahomes
4              214.753   Baker Mayfield
5              208.579           Bo Nix
6              204.592   Jayden Daniels
7              178.915   Caleb Williams
8              177.830       Jared Goff
9              169.282  Trevor Lawrence

In [490]:
X_train

,Age,1_ago_G,1_ago_GS,1_ago_Cmp,1_ago_PassingAtt,1_ago_PassingYds,1_ago_PassingTD,1_ago_Int,1_ago_RushingAtt,1_ago_RushingYds,...,2_ago_Int,2_ago_RushingAtt,2_ago_RushingYds,2_ago_RushingY/A,2_ago_RushingTD,2_ago_Fmb,2_ago_FL,2_ago_TotalTD,2_ago_PPR,2_ago_PosRank
0,26.0,12.0,12.0,203.0,326.0,2242.0,17.0,7.0,112.0,764.0,...,13.0,133.0,767.0,5.77,2.0,6.0,3.0,2.0,240.0,16.0
0,29.0,3.0,3.0,73.0,115.0,858.0,4.0,5.0,5.0,16.0,...,3.0,32.0,166.0,5.19,1.0,2.0,1.0,1.0,117.4,32.0
0,26.0,6.0,6.0,82.0,140.0,1143.0,7.0,3.0,26.0,106.0,...,13.0,48.0,222.0,4.63,5.0,9.0,4.0,5.0,157.3,28.0
0,27.0,6.0,1.0,45.0,83.0,412.0,0.0,5.0,15.0,61.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0
0,29.0,17.0,17.0,382.0,587.0,4438.0,29.0,7.0,29.0,73.0,...,8.0,17.0,87.0,5.12,0.0,9.0,6.0,0.0,194.5,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,-1.0,-0.50,0.0,0.0,0.0,0.0,-0.1,77.0
0,27.0,4.0,2.0,53.0,88.0,483.0,2.0,4.0,6.0,7.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,74.0
0,24.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0
0,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,10.0,53.0,5.30,2.0,2.0,1.0,2.0,51.9,41.0
0,23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0

In [493]:
y_train.sort_values('0_ago_PPR', ascending=False).head(10)

             Player  0_ago_PPR
0        Josh Allen      392.6
0       Jalen Hurts      356.8
0     Lamar Jackson      331.2
0       Jordan Love      319.1
0       Brock Purdy      295.6
0        Jared Goff      289.1
0    Baker Mayfield      274.1
0   Trevor Lawrence      262.5
0        Sam Howell      257.5
0  Matthew Stafford      243.1

In [494]:
y_test.sort_values('0_ago_PPR', ascending=False).head(10)

             Player  0_ago_PPR
9      Dak Prescott      342.8
3   Patrick Mahomes      280.2
25      C.J. Stroud      276.0
1    Tua Tagovailoa      270.4
19   Russell Wilson      256.9
18   Justin Herbert      234.2
7       Bryce Young      156.4
4        Joe Burrow      147.2
22    Jake Browning      144.4
26        Mac Jones      106.4